.content {
    background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 4px, transparent 4px, transparent 28px);
    min-height: calc(100vh - 57px);
}

.welcome {
    padding-top: 3rem;
}

.row > .col {
    margin-bottom: 1.25rem;
}

.col > div {
    background-color: rgba(255, 235, 127, 0.9);
    padding: 1rem;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.welcome p {
    font-size: 1.25rem;
    font-weight: bolder;
}

.users-online {
    text-align: center;
}

.users-online > span {
    font-size: 3rem;
}

.users-online > article {
    font-size: 3rem;
    font-weight: bold;
    margin: -20px;
}

.hidden {
    display: none;
}

.challenge {
    position: relative;
}

.challenge-title {
    padding-left: 10px;
}

.challenge h3 {
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

.challenge:hover h3 {
    cursor: pointer;
    text-decoration: underline;
}

.challenge > div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.challenge article {
    padding-bottom: 1rem;
}

.challenge > div > .leaders > img {
    background-color: gold;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-right: 4px;
    cursor: pointer;
}

.challenge > div > .leaders > img:nth-child(2) {
    display: block;
    margin-left: 27px;
}

.challenge > div > .leaders > img:nth-child(3):last-child {
    display: block;
    margin-left: 27px;
}

.challenge > img {
    max-width: 50%;
    max-height: 250px;
    display: inline;
    height: auto;
    width: auto;
    position: relative;
    right: 0;
    cursor: pointer;
}

.challenge span {
    position: absolute;
    right: 20px;
    top: calc(2rem + 20px);
    font-weight: bolder;
    background: white;
    border-radius: 10px;
    padding: 2px 5px;
}

.challenge:hover span {
    cursor: pointer;
    text-decoration: underline;
}