::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: gold;
}

::-webkit-scrollbar-thumb:hover {
    background: goldenrod;
}

nav {
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

nav.navbar .navbar-brand {
    color: gold;
    margin-right: 4px;
}

nav .nav-link > img {
    background-color: gold;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 4px;
    cursor: pointer;
    float: left;
}

nav.navbar .navbar-brand:hover {
    color: goldenrod;
}

.navbar-brand-battles span {
    background: gold;
    padding: 5px 15px;
    border-radius: 5px;
}

.navbar-brand span {
    font-weight: 900;
    font-family: sans-serif;
}

.navbar-brand-battles .dropdown-toggle {
    padding-left: 4px;
}
